body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.stunde {
     font-size: 36px;
     fill: #777;
 }

.minute {
    font-size: 23px;
    fill:#888;
}


.stunde-current {
    font-size: 36px;
    fill: #333;
}

.minute-current {
    font-size: 23px;
    fill:#333;
}


.tempHigh {
    font-size: 50px;
    fill:#333;
}


.Montag {
    fill:red;
}

.Dienstag {
    fill:blue;
}

.Mittwoch {
    fill:gray;
}

.Donnerstag {
    fill:green;
}

.Freitag {
    fill:yellow;
}

.Sammstag {
    fill:orange;
}

.Sonntag {
    fill:orange;
}


.datum {
    font-size: 50px;
    /*font-style:italic;*/
    fill:#333;
}

.facetime-btn {
    position: fixed;
    bottom: 20px;
    right:20px;
}

.facetime-btn img {
    width: 60px;
    height:60px;
    border-radius: 30px;
    border:2px solid whitesmoke;
    box-shadow:0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.facetime-btn img:active {
    box-shadow:none;
    -webkit-transform: scale(0.95,0.95) ;
    transform:scale(0.9,0.9) ;
}