body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.stunde {
     font-size: 36px;
     fill: #777;
 }

.minute {
    font-size: 23px;
    fill:#888;
}


.stunde-current {
    font-size: 36px;
    fill: #333;
}

.minute-current {
    font-size: 23px;
    fill:#333;
}


.tempHigh {
    font-size: 50px;
    fill:#333;
}
